doctype html
html
  head
    meta(charset="UTF-8")
    title public_html/*
    script(src="bower_components.js")
    script(src="index.js")
    link(href="index.css" rel="stylesheet")
  body.swing.animated
    yield